{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">قائمة  حالة الفواتير</h1>
    <a href="{% url 'status_create' %}" class="btn btn-primary mb-3">إضافة حالة فاتورة   </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>حالة الفاتورة </th>
                <th>البيان</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <tbody>
            {% for status in status %}
                <tr>
                    <td>{{ status.status_types }}</td>
                    <td>{{ status.status_description }}</td>
                   
                    <td>
                        <a href="{% url 'status_detail' status.pk %}" class="btn btn-info btn-sm">عرض</a>
                        <a href="{% url 'status_update' status.pk %}" class="btn btn-warning btn-sm">تعديل</a>
                        <a href="{% url 'status_delete' status.pk %}" class="btn btn-danger btn-sm">حذف</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}